<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>stuff</title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1>Welcome to Shavasana</h1>
      <h3>find that balance</h3>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p><small>An app made by Boovius</small></p>
  </footer>
</body>
</html>
